@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-ellipsis {
  font-size: 1.5em;
}

.typing-ellipsis:after {
  vertical-align: bottom;
  display: inline-block;
  content: "\2026";
  animation: ellipsis steps(8, end) 1.5s infinite;
  width: 0px;
  overflow: hidden;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}

.bot-bg {
  /* background-color: rgba(238, 247, 248, 255); */
  background-color: #f3f2f9;
}

.ukg-green-bg {
  background-color: rgba(7, 118, 116, 255);
}

.header-text-color {
  color: rgba(61, 66, 111, 255);
}

.border-purple-btn {
  border-color: rgba(61, 66, 111, 255);
}

.mobile-btn-blue {
  color: #7db9d7;
  border-color: #7db9d7;
}

.like-dislike-color {
  color: rgba(2, 119, 178, 255);
}